<div class="blue-w text-center align-middle px-0 m-0 py-2">
  <h3>チャンネル情報編集</h3>
</div>
<div class="row blue-w px-0 m-0">
  <%= render'form',channel: @channel %>
  <div class="text-center my-4 py-4">
    <%= link_to '一覧に戻る', channels_path, class: 'btn metal p-2' %>
  </div>
</div>