<h4 class="blue-w text-center gold pb-2">番組表編集ページ</h4>
<%= render'form',channel: @channel %>
<input type="hidden" id="id" value="<%= params[:id] %>">
<% if @channel.errors.any? %>
  <%= javascript_pack_tag 'render' %>
<% end %>