<h4 class="now text-center  py-2 m-0">Ch編集ページ</h4>

<%= render'form',channel: @channel %>

<%= render'video_form', channel: @channel %>

<%= render'video_search', channel: @channel %>

<%= javascript_pack_tag 'user/forms' %>