<div class="col-md-5 row p-0 m-0">
  <div class="row align-items-center wind m-0 p-1">
    <div class="col-2 p-0 m-0"></div>
    <div class="col-8 small text-center mx-0 px-0">名前・日付登録</div>
    <div class="col-2 text-center p-0 m-0 acord"><div class="metal btn px-1 py-0 m-0">？</div></div>
  </div>
  
  <div class="blue-w page m-0 p-3">
    プロフィール写真を登録できます。<br><br>
    画像は最大150×150にリサイズされますのでご注意ください。
  </div>
  
  <div class="blue-w text-center px-2 py-2 m-0">
    <%= form_with(model: @user) do |form| %>
      <%= render 'layouts/error_messages', model: form.object %>
      <%= form.file_field :avatar, size: 20 %>
      <%= form.submit '登録', class: 'b-metal btn m-2 px-3 py-0' %>
    <% end %>
  </div>
</div>