<h2>ようこそ<%= @user.name %>さん</h2>

<h4>1.【チャンネル情報登録】でチャンネルの情報を登録</h4>
<P>媒体は「YouTube」「ニコニコ」「Mildom」「TVその他」から選んでください。</P>
<p>1つのチャンネルで複数の媒体や放送日・放送時間を登録したい場合は、別の名前で登録して下さい。</p>
<p>登録した情報は【登録チャンネル一覧】で確認できます。</p>
<p>チャンネル情報の編集・削除はこちらから行えます。</p>

<h4>2.【新規番組表登録】で番組表の名前とチャンネルを登録</h4>
<p>番組表の名前を入力し、番組表に登録したいチャンネルを1つ選んで登録してください。</p>
<p>作成した番組表にチャンネルを追加する場合は【番組表表示】の【編集】から行ってください。</p>

<h4>3.【番組表表示】で番組表を表示</h4>
<p>登録された番組表の名前と内容がリスト表示されます。</p>
<p>チャンネルの追加や削除は【編集】を、番組表自体の削除は【削除】を押してください。</p>

