<%= render 'layouts/tabs' %>
<div class="text-center">
  <h4 class="bg-info bg-gradient text-light mb-2 p-2">【チャンネル情報登録】でチャンネルの情報を登録</h4>
  <div class="text-secondary">
    <P>媒体は「YouTube」「ニコニコ」「Mildom」「TVその他」から選んでください。</P>
    <p>1チャンネルで複数の媒体や放送時間を登録したい場合は、別で登録して下さい。</p>
  </div>
  
  <h4 class="bg-info bg-gradient text-light my-3 p-2">【登録チャンネル一覧】で登録内容表示</h4>
  <div class="text-secondary">チャンネル情報の編集・削除はこちらから行えます。</div>
  
  <h4 class="bg-info bg-gradient text-light my-3 p-2">【新規番組表登録】で番組表を登録</h4>
  <div class="text-secondary">名前と放送日を登録して下さい。</div>
  
  <h4 class="bg-info bg-gradient text-light my-3 p-2">【番組表一覧】で登録した番組表を表示</h4>
  <div class="text-secondary">
    <p>名前をクリックすると番組表に登録されたチャンネル情報も表示されます。</p>
    <p>チャンネルの追加や番組表の編集はこちらから行えます。</p>
  </div>
</div>