<div class="blue-w text-center page p-3 m-0">
  
  <p class="my-0">・2022/2/9</p>
  <div class="border-bottom mb-2 pb-2">機能と表示の修正を行いました。</div>
    
  <p class="my-0">・2022/2/1</p>
  <div class="border-bottom mb-2 pb-2">プロフィールに放送中の動画が表示されるように変更しました。</div>
    
  <p class="my-0">・2022/1/30</p>
  <div class="border-bottom mb-2 pb-2">時計の表示方法を変更しました。</div>
    
  <p class="my-0">・2022/1/27</p>
  <div class="border-bottom mb-2 pb-2">番組表の表示方法を変更しました。</div>
    
  <p class="my-0">・2021/12/15</p>
  <div class="border-bottom mb-2 pb-2">Youtube検索機能を実装しました。</div>
    
  <p class="my-0">・2021/12/4</p>
  <div class="border-bottom mb-2 pb-2">プロフィール写真登録を実装しました。</div>
    
  <p class="my-0">・2021/11/29</p>
  <div class="border-bottom mb-2 pb-2">ボタンデザインを変更しました。</div>
    
  <p class="my-0">・2021/11/28</p>
  <div class="border-bottom mb-2 pb-2">トップページをリニューアルしました。<br>時計表示を修正しました。</div>
  
  <p class="my-0">・2021/11/21</p>
  <div class="border-bottom mb-2 pb-2">サイトデザインをリニューアルしました。</div>
</div>
