<div class="blue-w text-center page py-3 px-0 m-0">
  <p>・2022/2/1<br>&emsp;プロフィールに放送中の動画を表示するように変更しました。</p>
  <p>・2022/1/30<br>&emsp;時計の表示方法を変更しました。</p>
  <p>・2022/1/27<br>&emsp;番組表の表示方法を変更しました。</p>
  <p>・2021/12/15<br>&emsp;Youtube検索機能を実装しました。</p>
  <p>・2021/12/4<br>&emsp;プロフィール写真登録を実装しました。</p>
  <p>・2021/11/29<br>&emsp;ボタンデザインを変更しました。</p>
  <p>・2021/11/28<br>&emsp;トップページをリニューアルしました。<br>&emsp;時計表示を修正しました。</p>
  <p>・2021/11/21<br>&emsp;サイトデザインをリニューアルしました。</p>
</div>
