<ul1 class="blue-w px-0">
  <li>2021/12/4<br>&emsp;プロフィール写真を登録出来るようにしました。</li>
  <li>2021/11/29<br>&emsp;ボタンデザインを変更しました。</li>
  <li>2021/11/28<br>&emsp;トップページをリニューアルしました。<br>&emsp;時計表示を修正しました。</li>
  <li>2021/11/21<br>&emsp;サイトデザインをリニューアルしました。</li>
</ul1>
