<div class="bg-info" >
</div>
<h1>自分だけのオリジナル番組表を作ろう！</h1>
<h2>My番組表とは？</h2>
<p>自分の好きなチャンネルを登録することで、自分だけの番組表を作れるサービスです。</p>
<p>※カテゴリはYouTube、ニコニコ動画、Mildom、TVその他の4つになります。</p>
<p>◇好きなチャンネルの情報を登録◇</p>
<p>◇新規番組表登録ページで登録するチャンネルを選択◇</p>
<p>My番組表の完成！</p>
<div class="bg-info" >
  <p>利用開始はこちら</p>
  <p>登録済みの方はこちら</p>
</div>
<button class="btn btn-success" type="submit">ユーザー登録</button>
<button class="btn btn-success" type="submit">ログイン</button>