<p class="bg-info">My番組表</p>
<h1>自分だけのオリジナル番組表を作ろう！</h1>

<h2>My番組表とは？</h2>
<p>自分の好きなチャンネルを登録することで、自分だけの番組表を作れるサービスです。</p>
<p>※カテゴリはYouTube、ニコニコ動画、Mildom、TVその他の4つになります。</p>

<p>◇好きなチャンネルの情報を登録◇</p>
<p>◇新規番組表登録ページで登録するチャンネルを選択◇</p>
<p>My番組表の完成！</p>

<% if logged_in? %>
  <%= link_to 'マイページへ', user_path(current_user), class: 'btn btn-success' %>
<% else %>
  <p class="bg-info">利用開始はこちら</p>
  <p>登録済みの方はこちら</p>
  <%= link_to 'ユーザー登録', signup_path, class: 'btn btn-success' %>
  <%= link_to 'ログイン', login_path, class: 'btn btn-success' %>
<% end %>