@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Iceland&display=swap');
/*　基本フォント　*/
body {
    margin: 0;
    background-color: #191970;
}
h3,body {
    font-family: 'DotGothic16', sans-serif;
    font-size: 25px;
    color: #fffafa;
    text-shadow:
           1px 1px 0px #000, -1px -1px 0px #000,
          -1px 1px 0px #000,  1px -1px 0px #000,
           1px 0px 0px #000, -1px  0px 0px #000,
           0px 1px 0px #000,  0px -1px 0px #000;
}
/*　基本ウィンドウ青　*/
h1,h2,h5,.blue-w,.alert-warning,.nav-tabs .nav-link.active,
.text-warning,.text-success {
  padding: 5px;
  margin: 0;
  box-shadow:1px 1px 4px #191970 inset,-1px -1px 4px #191970 inset,
             1px 1px #191970,-1px -1px #191970;
  border: 5px solid #fffff9;
  border-style: ridge;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(55,27,204,1) 0%, rgba(77,45,245,1) 30%, rgba(77,150,246,1) 70%, rgba(106,124,254,1) 100%);
}
/*　基本ウィンドウ黒　*/
.wind {
  margin: 0;
  box-shadow:1px 1px 5px #191970 inset,-1px -1px 5px #191970 inset,
             1px 1px #191970,-1px -1px #191970;
  border: 5px solid #f8f8ff;
  border-style: ridge;
  border-radius: 10px;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(18,17,20,1) 30%, rgba(70,164,223,1) 60%, rgba(37,34,77,1) 100%);
}
/*　メタルボタン　*/
.metal {
  font-size: 15px;
  color: #fffafa;
  border-top: 4px solid #d8dcdc;
  border-right: 4px solid #666;
  border-bottom: 4px solid #333;
  border-left: 4px solid #868888;
  border-radius: 0;
  background-image: -webkit-gradient(135deg, #ccc 0%, #868888 20%, #d8dcdc 34%, white 53%, #ccc 100%);
  background-image: -webkit-linear-gradient(135deg, #ccc 0%, #868888 20%, #d8dcdc 34%, white 53%, #ccc 100%);
  background-image: -o-linear-gradient(135deg, #ccc 0%, #868888 20%, #d8dcdc 34%, white 53%, #ccc 100%);
  background-image: -moz-linear-gradient(-45deg, #ccc 0%, #868888 20%, #d8dcdc 34%, white 53%, #ccc 100%);
}
.b-metal {
  font-size: 20px;
  color: #fffafa;
  padding: 0.25rem 1.25rem 0.25rem 1.25rem;
  text-shadow:
         1px 1px 0px #000, -1px -1px 0px #000,
        -1px 1px 0px #000,  1px -1px 0px #000,
         1px 0px 0px #000, -1px  0px 0px #000,
         0px 1px 0px #000,  0px -1px 0px #000;
  border-top: 4px solid #d8dcdc;
  border-right: 4px solid #666;
  border-bottom: 4px solid #333;
  border-left: 4px solid #868888;
  border-radius: 0;
  background-image: -webkit-gradient(135deg, #68a2ed 0%, #3d44f9 20%, #68a2ed 34%, white 53%, #68a2ed 100%);
  background-image: -webkit-linear-gradient(135deg, #68a2ed 0%, #3d44f9 20%, #68a2ed 34%, white 53%, #68a2ed 100%);
  background-image: -o-linear-gradient(135deg, #68a2ed 0%, #3d44f9 20%, #68a2ed 34%, white 53%, #68a2ed 100%);
  background-image: -moz-linear-gradient(-45deg, #68a2ed 0%, #3d44f9 20%, #68a2ed 34%, white 53%, #68a2ed 100%);
}
.d-metal {
  font-size: 20px;
  color: #fffafa;
  padding: 0.25rem 1.25rem 0.25rem 1.25rem;
  text-shadow:
         1px 1px 0px #000, -1px -1px 0px #000,
        -1px 1px 0px #000,  1px -1px 0px #000,
         1px 0px 0px #000, -1px  0px 0px #000,
         0px 1px 0px #000,  0px -1px 0px #000;
  border-top: 4px solid #d8dcdc;
  border-right: 4px solid #666;
  border-bottom: 4px solid #333;
  border-left: 4px solid #868888;
  border-radius: 0;
  background-image: -webkit-gradient(135deg, #727171 0%, #0d0015 20%, #727171 34%, white 60%, #16160e 100%);
  background-image: -webkit-linear-gradient(135deg, #727171 0%, #0d0015 20%, #727171 34%, white 60%, #16160e 100%);
  background-image: -o-linear-gradient(135deg, #727171 0%, #0d0015 20%, #727171 34%, white 60%, #16160e 100%);
  background-image: -moz-linear-gradient(-45deg, #727171 0%, #0d0015 20%, #727171 34%, white 60%, #16160e 100%);
}
.d-metal:hover,.b-metal:hover,
.metal:hover,.selected:hover,
.gold,.nav-tabs .nav-link:hover,
.text-warning,.text-success,
.select:hover,.page-item > a:hover {
  color: #ffd700;
}
.d-metal:active,
.b-metal:active,
.metal:active {
  -moz-webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(135deg, #ccc 0%, #868888 20%, #d8dcdc 34%, white 53%, #ccc 100%);
}
.metal:active {
  background-image: linear-gradient(135deg, #ccc 0%, #868888 20%, #d8dcdc 34%, white 53%, #ccc 100%);
}
.b-metal:active {
  background-image: linear-gradient(135deg, #68a2ed 0%, #3d44f9 20%, #68a2ed 34%, white 53%, #68a2ed 100%);
}
.d-metal:active {
  background-image: linear-gradient(135deg, #727171 0%, #0d0015 20%, #727171 34%, white 60%, #16160e 100%);
}

/*　時計表示用　*/
.clock {
  font-family: 'Iceland', cursive;;
  color: #daf6ff;
  text-shadow: 0 0 20px #0aafe6;
  line-height: 0.5;
}
.clock-date {
  font-size: 35px;
}
.clock-time {
  font-size: 50px;
}

.nav-tabs {
  font-size: 20px;
}
/*　メニューセレクト　*/
.select,.nav-tabs .nav-link {
  cursor: pointer;
}
/* セレクト後　*/
.selected,.nav-tabs .nav-link.active {
  color: #ffd700;
  margin-right: 1em;
}
.nav-tabs .nav-link.active:before,
.selected:before {
  content: "▶";
}
/*　説明文行間　*/
p1 { 
  letter-spacing: 1px;
  line-height: 210%;
  }
/*　登録ボタン表示用　*/
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/*　ウィンドウ開閉用*/
.ac-p:after {
  content: "▼";
  cursor: pointer;
}
.ac-p.open:after {
  content: "▲";
  cursor: pointer;
}
ul1 {
  display: none;
}
ul1 > li {
  letter-spacing: 1px;
  font-size: 20px;
  margin-left: 2em;
  line-height: 180%;
}
/*　ページネーションデザイン*/
.page-item.active .page-link {
  z-index: 3;
  height: 36px;
  color: #fffafa;
  padding-top: 0;
  margin: 0;
  border-radius: 0;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(18,17,20,1) 30%, rgba(70,164,223,1) 60%, rgba(37,34,77,1) 100%);
}
.page-item > .page-link {
  z-index: 3;
  height: 36px;
  color: #fffafa;
  padding-top: 0;
  margin: 0;
  border-radius: 0;
  background: linear-gradient(0deg, rgba(87,23,249,1) 0%, rgba(113,73,246,1) 30%, rgba(201,183,254,1) 66%, rgba(106,114,255,1) 100%);
}
.page-link {
  background-color: #f5f5f5;
}
.page-item:first-child .page-link {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.page-item:last-child .page-link {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.page-item.disabled .page-link {
  color: #fffafa;
}
.pagination {
  font-size: 20px;
}
.pagy-bootstrap-nav {
  display: inline;
  margin-right: 60px;
}
/*　表　*/
.table,tr,td,td > a {
  color: #fffafa;
  text-decoration: none;
}
td > a {
  letter-spacing: 5px;
}
td {
  font-size: 20px;
}
td > a:hover {
  letter-spacing: 5px;
  color: #ffd700;
}

.mini {
  white-space: nowrap;
  font-size: 18px;
  color: #ffd700;
}

.alert-warning {
  font-size: 20px;
  color: #fffafa;
}

img {
  border: 3px solid #fffff9;
  border-style: ridge;
  border-radius: 10px;
}
#user_avatar {
  font-size: 20px;
}

.text-start.mb-2 > img {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.scroll {
  overflow: auto;
}

.col-1 > div {
  display:none;
}