<table class="table  table-sm text-center align-middle my-3">
  <thead>
    <tr>
      <th style="width: 30%">ｃｈ名</th>
      <th style="width: 20%">媒体</th>
      <th style="width: 15%">開始</th>
      <th style="width: 5%"></th>
      <th style="width: 15%">終了</th>
      <th style="width: 15%"></th>
    </tr>
  </thead>
  <tbody>
    <% if @guide.guide_name.present? %>
      <% guidechannels.each do |ch| %>
        <tr>
          <td><%= ch.channel_name %></td>
          <td></td>
          <td></td>
          <td>~</td>
          <td></td>
          <% if current_page?(edit_guide_path) %>
            <td><%= link_to '削除',  guide_guides_channel_path(params[:id], ch.id), method: :delete, data: { confirm: '削除しますか？' }, class: 'btn d-metal p-1' %></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
