<table class="table">
  <thead>
    <tr>
      <td></td>
      <% guide_channels.each do |c| %>
        <td class="omit"><img src="<%= c.icon %>" alt="" class="icon"><%= c.channel_name %></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ch</td>
      <% guide_channels.each do |c| %>
        <% v_thumb = @videos.find_by(channel_id: c.id) %>
        <td><img src="<%= v_thumb.thumbnail %>" alt="" class="none px-1"></td>
      <% end %>
    </tr>
  </tbody>
</table>