<div class="blue-w">
  <%= render'guideform', guide: @guide %>
  <%= render'table', guidechannels: @guidechannels %>
  
  <div class="text-center my-4">
    <%= link_to '戻る', @guide, class: 'btn btn-warning text-dark mb-5 px-5' %>
  </div>
</div>
