<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid ps-5 pe-5">
      <a class="navbar-brand" href="/">My番組表</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <% if logged_in? && controller_path == 'toppages' && action_name == 'index' %>
          <li class="ms-3"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-secondary' %></li>
        <% elsif logged_in? %>
        <ul class="navbar-nav">
          <li class="ms-3"><%= link_to 'TOPへ', root_path, class: 'btn btn-success' %></li>
          <li class="ms-3"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-secondary' %></li>
        </ul>
        <% else %>
        <% end %>
      </div>
    </div>
  </nav>